<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menu">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">마이페이지</h5>
        </div>
        <div class="list-group list-group-flush">
            <a href="/member/pwchange" class="list-group-item list-group-item-action">비밀번호 변경</a>
            <a href="/order/order_manage" class="list-group-item list-group-item-action">주문 관리</a>
            <a href="/order/review_manage" class="list-group-item list-group-item-action">리뷰 관리</a>
            <a href="/member/withdrawal" class="list-group-item list-group-item-action">회원 탈퇴</a>
        </div>
    </div>

</th:block>
</html>