<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ★역할: 카테고리 조회/등록/수정/삭제 SQL 모음 -->
<!-- ★주의: category_db 스키마를 명시적으로 사용 -->
<!-- 매퍼 주소 확인  -->
<mapper namespace="com.coreflow.shop.admin.category.AdCategoryMapper"> 

<!-- 1차 카테고리  --> 

<select id="firstList" resultType="com.coreflow.shop.common.dto.CategoryDTO">
select 
	CATE_CODE,
	CATE_PRTCODE, <!-- 부모카테고리 데이터 디비버확인 -->
	CATE_NAME 
from 
	categories 
where  
	CATE_PRTCODE is null
  </select> 
  
  <select id="getSecondList" parameterType="Integer" resultType="com.coreflow.shop.common.dto.CategoryDTO">
  select 
CATE_CODE,
CATE_PRTCODE,  
CATE_NAME 
from categories 
where CATE_PRTCODE = #{cate_prtcode} 
  
  </select>  
  
  <select id="getFirstCategoryBySecondCategory"  resultType="com.coreflow.shop.common.dto.CategoryDTO">
  
  select 
			cate_code,       -- 카테고리 코드
			cate_prtcode,   -- 부모 카테고리 코드
			cate_name       -- 카테고리 이름
		from 
			categories
		where 
			cate_code = #{secondCategory}  -- 선택한 2차 카테고리 코드로 조회
  
  </select>
  
  
 

</mapper>

