<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coreflow.shop.kakaologin.KakaoLoginDao">

  	<!-- SNS ID로 회원 조회 -->
	<select id="findBySnsId" resultType="com.coreflow.shop.common.dto.MemberDTO">
	    SELECT * FROM members
	    WHERE mbsp_sns_id = #{mbsp_sns_id}
	    AND mbsp_login_type = #{mbsp_login_type}
	</select>
	
	<!-- 이메일로 회원 조회 (카카오 이메일 중복 체크용) -->
	<select id="findByEmail" resultType="com.coreflow.shop.common.dto.MemberDTO">
	    SELECT * FROM members
	    WHERE mbsp_email = #{mbsp_email}
	</select>
	
	<!-- 카카오 회원 자동 가입 -->
	<insert id="insertKakaoMember">
	    INSERT INTO members (
	        mbsp_id, mbsp_name, mbsp_email, mbsp_password,
	        mbsp_login_type, mbsp_sns_id, mbsp_point,
	        mbsp_datesub, mbsp_receive
	    ) VALUES (
	        #{mbsp_id}, #{mbsp_name}, #{mbsp_email}, 'kakao_user',
	        #{mbsp_login_type}, #{mbsp_sns_id}, 0,
	        NOW(), 'N'
	    )
	</insert>
	
	<!-- 마지막 로그인 시간 업데이트 -->
	<update id="updateLastLogin">
	    UPDATE members
	    SET mbsp_lastlogin = NOW()
	    WHERE mbsp_id = #{mbsp_id}
	</update>

</mapper>