<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coreflow.shop.product.ProductMapper">

	<select id="getProductList" resultType="com.coreflow.shop.common.dto.ProductDTO">
	
		select 
			pro_num,
			cate_code,
			pro_name,
			pro_price,
			pro_discount,
			pro_publisher,
			pro_summary,
			pro_up_folder,
			pro_img,
			pro_amount,
			pro_buy,
			pro_review,
			pro_date,
			pro_updatedate 
		from 
			products
		where 
			cate_code = #{cate_code}
		and
			pro_buy = 'Y'
		<include refid="search"></include>
		limit 
			#{cri.pageStart}, #{cri.perPageNum}
	
	</select>
	
	<sql id="search">
		<if test="cri.searchType != null">
			and pro_name like concat('%', #{cri.keyword}, '%')
		</if>
	</sql>
	
	<select id="getProductListCount" resultType="int">
	
		select 
			count(pro_num)
		from
			products
		where 
			cate_code = #{cate_code}
		and
			pro_buy = 'Y'
	
	</select>
	
	<select id="getRecommendList" resultType="map">
	
    	SELECT 
		    p.pro_num,
		    p.cate_code,
		    c.cate_name,
		    p.pro_name,
		    p.pro_price,
		    p.pro_discount,
		    p.pro_publisher,
		    p.pro_summary,
		    p.pro_up_folder,
		    p.pro_img,
		    p.pro_amount,
		    p.pro_buy,
		    p.pro_review,
		    p.pro_date,
		    p.pro_updatedate
		FROM 
		    products p
		INNER JOIN 
		    categories c
		ON 
		    p.cate_code = c.cate_code
		ORDER BY 
		    p.pro_num DESC
		LIMIT 15

    
	</select>
	
	<select id="pro_detail" resultType="com.coreflow.shop.common.dto.ProductDTO" parameterType="Integer">
		
		select 
			pro_num,
			cate_code,
			pro_name,
			pro_price,
			pro_discount,
			pro_publisher,
			pro_summary,
			pro_up_folder,
			pro_img,
			pro_amount,
			pro_review
		from 
			products
		where 
			pro_num = #{pro_num}
	
	</select>
	
	<update id="review_count_update" parameterType="Integer">
	
		update
			products
		set 
			pro_review = pro_review + 1
		where
			pro_num = #{pro_num}
		
	</update>
	
	<select id="getProductCountByPro_num" resultType="int">
	
		select
			pro_review
		from
			products
		where
			pro_num = #{pro_num}
	
	</select>
	
	
</mapper>