<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="leftmenu">

	 <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
          <!--begin::Brand Link-->
          <a href="/admin/ad_menu" class="brand-link">
            <!--begin::Brand Image-->
            <img
              src="/dist/assets/img/AdminLTELogo.png"
              alt="AdminLTE Logo"
              class="brand-image opacity-75 shadow"
            />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">COREFLOW AD</span>
            <!--end::Brand Text-->
          </a>
          <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="navigation"
              aria-label="Main navigation"
              data-accordion="false"
              id="navigation"
            >
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon bi bi-people-fill"></i>
                  <p>
                    회원관리
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/member/member_list" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>회원목록</p>
                    </a>
                  </li>
                </ul>
              </li>
              
              <!-- 상품관리 -->
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon bi bi-box-seam"></i>
                  <p>
                    상품관리
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/products/pro_insert" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>상품등록</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/products/pro_list" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>상품목록</p>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- 주문관리 -->
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon bi bi-receipt"></i>
                  <p>
                    주문관리
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/order/order_list" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>주문목록</p>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- 상품리뷰 및 문의관리 -->
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon bi bi-chat-left-text"></i>
                  <p>
                    상품리뷰 및 문의관리
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/review/review_list" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>리뷰목록</p>
                    </a>
                  </li>
                </ul>
              </li>              
              <!-- 통계관리 -->
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon bi bi-bar-chart-line-fill"></i>
                  <p>
                    통계관리
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/statist/static_sale_all" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>날짜별 매출통계</p>
                    </a>
                  </li>
                </ul>
              </li>              
            </ul>
            <!--end::Sidebar Menu-->
          </nav>
        </div>
        <!--end::Sidebar Wrapper-->
      </aside>

	</th:block>
	
</html>